@use '../../Global/color' as *;

.card {
    display: flex;
    flex-direction: column;

    background-color: $Secondary;
    width: 80%;
    height: 10vh;
    border: 3px solid $Primary;
    border-radius: 10px;
}

.title {
	font-size: 24px;
    color: $Primary;
    margin-left: 10px;
}

.score {
    font-size: 15px;
    color: $Primary;
    margin-left: 15px;
    margin-top: 15px;
}

.Bold {
    font-weight: bold;
}